@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
}

img {
  width: 100%;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
===============
DEFAULT SETTINGS
===============
*/
.wrapper {
  padding-bottom: 9.5rem;
  margin: 15px 10%;
}

/* 
===============
NAVBAR SETTINGS
===============
*/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  background-color: #1f2e35;
  color: #fff;
}
.nav-bar .links a {
  color: #fff;
}
.nav-bar .links a:hover {
  font-weight: 600;
  font: bold;
}
.nav-bar .logo {
  font-size: 14px;
  display: flex;
}
.nav-bar .logo .image img {
  width: 40%;
}
.nav-bar .signIn {
  color: #fff;
  background-color: #1f2e35;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 16px;
}
.nav-bar .signUp {
  color: #fff;
  background-color: #02897A;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 16px;
}

.menu {
  display: flex;
  gap: 1em;
  align-items: center;
  font-weight: 500;
}
.menu li {
  padding: 4px 4px;
}
.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* 
===============
PRODUCT SETTINGS
===============
*/
.container {
  padding: 15px 10%;
  background-color: #1f2e35;
}
.container > .welcome-text-image {
  display: flex;
  justify-content: space-between;
}
.container > .welcome-text-image > .text {
  padding: 3rem 0;
  width: 50%;
}
.container > .welcome-text-image > .text > h2 {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0.6rem;
}
.container > .welcome-text-image > .text > p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 3rem;
}
.container > .welcome-text-image > .text .welcomeFooter {
  display: flex;
  align-items: center;
}
.container > .welcome-text-image > .text .welcomeFooter .getStarted {
  color: #fff;
  background-color: #02897A;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 16px;
}
.container > .welcome-text-image > .text .welcomeFooter .watch {
  display: flex;
  margin-left: 1.5rem;
}
.container > .welcome-text-image > .text .welcomeFooter .watch img {
  padding-right: 0.5rem;
  max-width: 20px;
}
.container > .welcome-text-image > .text .welcomeFooter .watch p {
  color: #02897A;
  text-decoration: underline;
  font-weight: 600;
}
.container > .welcome-text-image > .image {
  width: 50%;
}
.container > .products-for-you h1 {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding-bottom: 4.2rem;
}
.container > .products-for-you > .content {
  display: flex;
  justify-content: space-between;
}
.container > .products-for-you > .content > .item img {
  width: 51px;
}
.container > .products-for-you > .content > .item h3 {
  padding-bottom: 0.4rem;
}
.container > .products-for-you > .signUpNow {
  text-align: center;
}
.container > .products-for-you > .signUpNow .buttonSignUpNow {
  color: #fff;
  background-color: #02897A;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 16px;
  margin-top: 3rem;
}
.container > .text-image {
  display: flex;
  justify-content: space-between;
}
.container > .text-image > .text {
  padding: 1rem 0;
  width: 48%;
}
.container > .text-image > .text .subtitle {
  font-weight: bold;
}
.container > .text-image > .text p {
  padding-bottom: 0.8rem;
}
.container > .text-image > .text h1 {
  padding-bottom: 1.3rem;
}
.container > .text-image > .image {
  width: 48%;
}
.container > .image-text {
  display: flex;
  justify-content: space-between;
}
.container > .image-text > .image {
  width: 48%;
}
.container > .image-text .text {
  width: 48%;
}
.container > .image-text .text > .subtitle {
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.container > .image-text .text h1 {
  margin-bottom: 1.7rem;
  font-weight: 700;
  line-height: 48px;
}
.container > .image-text .text > .description {
  margin-bottom: 1.7rem;
  width: 70%;
}
.container > .image-text .text > .content > .item {
  display: flex;
  width: 75%;
}
.container > .image-text .text > .content > .item img {
  width: 35px;
  margin-right: 1.4rem;
  margin-bottom: 2rem;
}
.container > .quick-process > .title {
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  padding-bottom: 1rem;
}
.container > .quick-process > .subtitle {
  text-align: center;
  font-weight: 500;
  padding: 0px 20%;
  padding-bottom: 1rem;
}
.container > .quick-process > .content {
  display: flex;
  justify-content: space-between;
}
.container > .quick-process > .content img {
  width: 25%;
}
.container > .quick-process > .content p {
  color: black;
  background-color: #fff;
  border-radius: 15px;
  padding: 0.2rem 1.3rem;
  margin: 0.7rem;
}
.container > .quick-process > .content > .item > .card {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.container > .quick-process > .contactExpert {
  text-align: center;
}
.container > .quick-process > .contactExpert button {
  color: #fff;
  background-color: #02897A;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 16px;
  margin-top: 2rem;
}
.container > .contents-strategies > .title {
  font-weight: 700;
  line-height: 51px;
}
.container > .contents-strategies > .subtitle {
  font-weight: 500;
}
.container > .contents-strategies > .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.container > .contents-strategies > .cards > .card {
  background-color: #fff;
  color: black;
  border-radius: 8px;
  width: 32%;
}
.container > .contents-strategies > .cards > .card > .content {
  padding: 1rem;
  padding-top: 0.1rem;
}
.container > .contents-strategies > .cards > .card > .content > .credits {
  padding-bottom: 0.25rem;
}
.container > .contents-strategies > .cards > .card > .content > .title a {
  color: black;
}
.container > .contents-strategies > .cards > .card > .content > .title a:hover {
  color: #02897A;
}
.container > .contents-strategies > .carosolt {
  text-align: center;
}
.container > .contents-strategies > .carosolt .dot {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4rem 0.2rem;
  display: inline-block;
}
.container > .price-table {
  text-align: center;
}
.container > .price-table > .title {
  font-weight: 700;
  line-height: 51px;
}
.container > .price-table > .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.container > .price-table > .cards #change {
  background: #02897A;
  color: #fff;
}
.container > .price-table > .cards #change > .price > .value {
  color: #fff;
}
.container > .price-table > .cards #change > .price > .simbol > .dolar {
  color: #fff;
}
.container > .price-table > .cards #change > .item {
  color: #fff;
}
.container > .price-table > .cards #change button {
  background: #fff;
  color: #02897A;
}
.container > .price-table > .cards > .card {
  background: #fff;
  color: black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 28%;
}
.container > .price-table > .cards > .card > .title {
  font-weight: 700;
  line-height: 40px;
  font-size: 1rem;
  padding-top: 1rem;
}
.container > .price-table > .cards > .card > .subtitle {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.container > .price-table > .cards > .card > .price {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding-bottom: 2rem;
}
.container > .price-table > .cards > .card > .price > .value {
  padding: auto;
  font-size: 4.5rem;
  padding-top: 0.9rem;
  color: #02897A;
  font-weight: 700;
}
.container > .price-table > .cards > .card > .price > .simbol {
  text-align: left;
  margin-left: 0.4rem;
}
.container > .price-table > .cards > .card > .price > .simbol .dolar {
  font-size: 1.2rem;
  color: #02897A;
  font-weight: bold;
}
.container > .price-table > .cards > .card > .price > .simbol .frequency {
  font-weight: 400;
  line-height: 19px;
  color: #AFAFAF;
}
.container > .price-table > .cards > .card > .item {
  padding: 0.3rem 0;
  font-weight: 800;
  color: #22343D;
}
.container > .price-table > .cards > .card button {
  color: #fff;
  background-color: #02897A;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* 
=====================
MEDIA QUERIES PRODUCT
=====================
*/
@media (max-width: 1200px) {
  .wrapper {
    padding-bottom: 4.5rem;
  }

  .container > .welcome-text-image {
    display: flex;
    flex-direction: column-reverse;
  }
  .container > .welcome-text-image > .text {
    width: 100%;
  }
  .container > .welcome-text-image > .text h2 {
    text-align: center;
  }
  .container > .welcome-text-image > .text p {
    text-align: center;
  }
  .container > .welcome-text-image > .text > .welcomeFooter {
    justify-content: center;
  }
  .container > .welcome-text-image > .image {
    width: 100%;
  }
  .container > .products-for-you h1 {
    padding-bottom: 4.2rem;
  }
  .container > .products-for-you > .content {
    display: inline;
    text-align: center;
  }
  .container > .products-for-you > .content > .item img {
    width: 51px;
  }
  .container > .products-for-you > .content > .item h3 {
    padding-bottom: 0.4rem;
  }
  .container > .products-for-you > .content > .item p {
    padding-bottom: 2rem;
    margin: auto;
    max-width: 70%;
  }
  .container > .products-for-you > .signUpNow {
    text-align: center;
  }
  .container > .products-for-you > .signUpNow .buttonSignUpNow {
    color: #fff;
    background-color: #02897A;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    font-size: 16px;
    margin-top: 3rem;
  }
  .container > .text-image {
    display: flex;
    flex-direction: column-reverse;
  }
  .container > .text-image > .text {
    width: 100%;
  }
  .container > .text-image > .image {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container > .image-text {
    display: inline;
  }
  .container > .image-text > .image {
    width: 100%;
    margin-bottom: 3rem;
  }
  .container > .image-text > .text {
    width: 100%;
  }
  .container > .quick-process > .subtitle {
    padding: 0px 1%;
  }
  .container > .quick-process > .content {
    display: inline;
  }
  .container > .quick-process > .content .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .container > .quick-process > .content img {
    width: 25%;
  }
  .container > .quick-process > .content p {
    text-align: center;
    color: black;
    background-color: #fff;
    border-radius: 15px;
    padding: 0.2rem 1.3rem;
    margin: 0.3rem;
  }
  .container > .quick-process > .content > .item > .card {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
  .container > .contents-strategies > .cards {
    display: inline;
    margin-top: 1.5rem;
  }
  .container > .contents-strategies > .cards > .card {
    width: 100%;
    margin-top: 1rem;
  }
  .container > .contents-strategies > .cards > .card > .content {
    padding-top: 0.1rem;
  }
  .container > .contents-strategies > .carosolt {
    display: none;
  }
  .container > .price-table {
    margin-top: 3rem;
  }
  .container > .price-table > .cards {
    display: inline;
  }
  .container > .price-table > .cards > .card {
    width: 100%;
    margin: 1rem 0;
  }
}
/* 
====================
MEDIA QUERIES NAVBAR
====================
*/
@media (max-width: 1020px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 10px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
/* 
===============
FOOTER SETTINGS
===============
*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em 10%;
  background-color: #1f2e35;
  color: #fff;
  margin-top: 100%;
}
.footer .col1 img {
  width: 50%;
}
.footer .col1 .redondo {
  width: 10%;
}

.col1 {
  margin-top: -5%;
  width: 25%;
}
.col1 .redondo {
  margin: 5% 1.5%;
  border-radius: 100%;
}
.col1 .insta-logo {
  margin-left: -1.5%;
}

.col2e3 {
  display: flex;
  width: 25%;
  font-weight: 400;
}
.col2e3 h3 {
  margin-bottom: 0.75em;
  margin-top: -2em;
}
.col2e3 li {
  margin-top: 0.5em;
}

.col4 {
  width: 25%;
  justify-content: space-around;
}
.col4 .text-col4 {
  width: 75%;
  justify-content: space-around;
  font-size: medium;
  font-weight: 500;
  size: 20em;
  line-height: 2em;
  margin-top: -1em;
}
.col4 .sboxf {
  height: 3em;
  width: 100%;
  border-radius: 0.25em;
  margin: 1.5em 0;
  margin-bottom: 0%;
  border: none;
}
.col4 .singupfb {
  border: none;
  text-decoration: none;
  border-radius: 0.25em;
  background-color: #02897A;
  color: white;
  height: 3em;
  width: 7.5em;
  margin: 1.5em 0;
}

.lasttxt {
  text-align: center;
  background-color: #1f2e35;
  color: white;
  padding-bottom: 1%;
  font-weight: 400;
}

/* 
=============
FOOTER MEDIA QUERIES
=============
*/
@media (max-width: 1020px) {
  .footer {
    display: flex;
    position: relative;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .col1 {
    margin-top: 0%;
    margin-left: -2.5%;
    width: 100%;
  }
  .col1 .redondo {
    margin-bottom: -1.5%;
    margin-top: 2%;
    margin-left: 1.5%;
  }

  .col2e3 {
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .col2e3 li {
    margin-top: 2%;
  }

  .col4 {
    margin-top: 10%;
    width: 50%;
    align-items: center;
  }
  .col4 .text-col4 {
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }

  .lasttxt {
    text-align: center;
    background-color: #1f2e35;
    color: white;
    padding-bottom: 10%;
    padding-top: -8%;
  }
}

/*# sourceMappingURL=style.css.map */
