@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
}

body {
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

