/* 
===============
DEFAULT SETTINGS
===============
*/

.wrapper {
    padding-bottom: 9.5rem;
    margin: 15px 10%;
}

/* 
===============
NAVBAR SETTINGS
===============
*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    background-color: #1f2e35;
    color: #fff;

    .links {
        a {
            color: #fff;

            &:hover {
                font-weight: 600;
                font: bold;
            }
        }
    }

    .logo {
        font-size: 14px;
        display: flex;
    
        .image {
            img {
                width: 40%;
            }
        }
    }

    .signIn {
        color: #fff;
        background-color: #1f2e35;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0.75rem 2rem;
        font-size: 16px;
    }

    .signUp {
        @include button-green(0.75rem 2rem)
    }
}

.menu {
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: 500;

    li {
        padding: 4px 4px;

        &:hover {
            background-color: #4c9e9e;
            border-radius: 5px;
            transition: 0.3s ease;
        }
    }
}

input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


/* 
===============
PRODUCT SETTINGS
===============
*/

.container {
    padding: 15px 10%;
    background-color: #1f2e35;

    >.price-table {
        text-align: center;

        >.preTitle {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 36px;
            margin-bottom: 2rem;
        }

        >.title {
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
            margin-bottom: 1rem;
        }

        >.subtitle {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }

        >.cards {
            display: flex;
            justify-content: space-between;
            margin-top: 2.5rem;

            #change {
                background: #02897A;
                color: #fff;
                >.price {
                    >.value {
                        color: #fff;
                    }

                    >.simbol {
                        >.dolar {
                            color: #fff;
                        }
                    }
                }

                >.item {
                    color: #fff;
                }

                button {
                    background: #fff;
                    color: #02897A;
                }
            }

            >.card {
                background: #fff;
                color: black;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                width: 28%;

                >.title {
                    font-weight: 700;
                    line-height: 40px;
                    font-size: 1rem;
                    padding-top: 1rem;
                }

                >.subtitle {
                    font-size: 0.8rem;
                    margin-bottom: 2rem;
                }

                >.price {
                    display: flex;
                    justify-content: center;
                    margin: 1rem;
                    padding-bottom: 2rem;

                    >.value {
                        padding: auto;
                        font-size: 4.5rem;
                        padding-top: 0.9rem;
                        color: #02897A;
                        font-weight: 700;
                    }

                    >.simbol {
                        text-align: left;
                        margin-left: 0.4rem;

                        .dolar {
                            font-size: 1.2rem;
                            color: #02897A;
                            font-weight: bold;
                        }

                        .frequency {
                            font-weight: 400;
                            line-height: 19px;
                            color: #AFAFAF;
                        }
                    }
                }

                >.item {
                    padding: 0.3rem 0;
                    font-weight: 800;
                    color: #22343D;
                }

                button {
                    @include button-green(0.75rem 2rem);
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    >.enterprise-div {
        text-align: center;

        >.preTitle {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }

        >.title {
            font-weight: bold;
            font-size: 34px;
            line-height: 51px;
        }

        >.text {
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
        }

        button {
            @include button-green(0.75rem 2rem);
            margin-top: 2rem;
        }
    }

    >.product-being {
        >.title {
            font-weight: bold;
            font-size: 34px;
            line-height: 51px;
        }

        >.content {
            margin-top: 3rem;
            display: flex;
            justify-content: space-between;

            img {
                width: 50%;
            }

            >.cards {
                width: 44%;
                margin-left: 2rem;

                >.card {
                    margin-bottom: 1.5rem;

                    >.imageTitle {
                        display: flex;
                        justify-content: left;
                        align-items: center;

                        img {
                            width: 10%;
                        }

                        >.title {
                            margin-left: 1rem;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 36px;
                        }
                    }

                    >.description {
                        margin-top: 1rem;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    >.frequently-asked {
        >.title {
            text-align: center;
            font-weight: bold;
            font-size: 34px;
            line-height: 51px;
        }

        >.subtitle {
            text-align: center;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
        }

        *::before, ::after {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }

        >.cont {
            >.accordion {
                >.item {
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #474747;
                    padding: 1rem;
                    box-shadow: 0.5rem;

                    >.link {
                        font-size: 1.5rem;
                        color: #fff;
                        text-decoration: none;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        padding: 1rem 1rem;

                        i {
                            color: #02897A;
                            padding: 0.5rem;
                        }

                        >.fa-minus-circle {
                            display: none;
                        }
                    }

                    >.answer {
                        max-height: 0;
                        overflow: hidden;
                        position: relative;
                        transition: max-height 650ms;

                    }

                    &:target .answer {
                        max-height: 10rem;
                    }

                    &:target {
                        .link {
                            .fa-plus-circle {
                                display: none;
                            }
                        }
                    }

                    &:target {
                        .link {
                            .fa-minus-circle {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    >.get-this {
        display: flex;
        justify-content: space-between;
        background: #02897A;
        border-radius: 32px;
        padding: 0.5rem;

        >.content {
            width: 59%;
            padding: 2rem;

            >.title {
                font-size: 32px;
                line-height: 151.4%;
            }

            >.getThis {
                button {
                    @include button-green(0.75rem 2rem);
                    background: #fff;
                    color: #02897A;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 30px;
                    margin-top: 2.5rem;
                }
            }
        }

        >.image {
            width: 45%;
        }
    }
}


/* 
===============
PRODUCT SETTINGS
===============
*/

.container {
    padding: 15px 10%;
    background-color: #1f2e35;

    >.welcome-text-image {
        display: flex;
        justify-content: space-between;

        >.text {
            padding: 3rem 0;
            width: 50%;

            > h2 {
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0px;
                text-align: left;
                margin-bottom: 0.6rem;
            }

            > p {
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0px;
                text-align: left;
                margin-bottom: 3rem;
            }

            .welcomeFooter {
                display: flex;
                align-items: center;

                .getStarted {
                    @include button-green(0.75rem 2rem)
                }

                .watch {
                    display: flex;
                    margin-left: 1.5rem;

                    img {
                        padding-right: 0.5rem;
                        max-width: 20px;
                    }

                    p {
                        color: #02897A;
                        text-decoration: underline;
                        font-weight: 600;
                    }
                }
            }
        }

        >.image {
            width: 50%;
        }
    }

    >.products-for-you {
        h1 {
            text-align: center;
            max-width: 500px;
            margin: auto;
            padding-bottom: 4.2rem;
        }

        >.content {
            display: flex;
            justify-content: space-between;

            >.item {
                img {
                    width: 51px;
                }

                h3 {
                    padding-bottom: 0.4rem;
                }
            }
        }

        >.signUpNow {
            text-align: center;

            .buttonSignUpNow {
                @include button-green(0.75rem 2rem);
                margin-top: 3rem;
            }
        }
    }

    >.text-image {
        display: flex;
        justify-content: space-between;

        >.text {
            padding: 1rem 0;
            width: 48%;

            .subtitle {
                font-weight: bold;
            }

            p {
                padding-bottom: 0.8rem;
            }

            h1 {
                padding-bottom: 1.3rem;
            }
        }

        >.image {
            width: 48%;
        }
    }

    >.image-text {
        display: flex;
        justify-content: space-between;

        >.image {
            width: 48%;
        }

        .text {
            width: 48%;

            >.subtitle {
                font-weight: 600;
                margin-bottom: 0.8rem;
            }

            h1 {
                margin-bottom: 1.7rem;
                font-weight: 700;
                line-height: 48px;
            }

            >.description {
                margin-bottom: 1.7rem;
                width: 70%;
            }

            >.content {

                >.item {
                    display: flex;
                    width: 75%;

                    img {
                        width: 35px;
                        margin-right: 1.4rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    >.quick-process {
        >.title {
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            padding-bottom: 1rem;
        }

        >.subtitle {
            text-align: center;
            font-weight: 500;
            padding: 0px 20%;
            padding-bottom: 1rem;
        }

        >.content {
            display: flex;
            justify-content: space-between;

           img {
               width: 25%;
           }

           p {
               color: black;
               background-color: #fff;
               border-radius: 15px;
               padding: 0.2rem 1.3rem;
               margin: 0.7rem;
           }

           >.item {
               >.card {
                   display: flex;
                   padding: 1rem;
                   align-items: center;
               }
           }
        }

        >.contactExpert {
            text-align: center;

            button {
                @include button-green(0.75rem 2rem);
                margin-top: 2rem;
            }
        }
    }

    >.contents-strategies {
        >.title {
            font-weight: 700;
            line-height: 51px;
        }

        >.subtitle {
            font-weight: 500;
        }

        >.cards {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;

            >.card {
                background-color: #fff;
                color: black;
                border-radius: 8px;
                width: 32%;

                >.content {
                    padding: 1rem;
                    padding-top: 0.1rem;

                    >.credits {
                        padding-bottom: 0.25rem;
                    }

                    >.title {
                        a {
                            color: black;

                            &:hover {
                                color: #02897A;
                            }
                        }
                    }
                }
            }
        }

        >.carosolt {
            text-align: center;

            .dot {
                height: 16px;
                width: 16px;
                background-color: #fff;
                border-radius: 50%;
                margin: 4rem 0.2rem;
                display: inline-block;
            }
        }
    }

    >.price-table {
        text-align: center;

        >.title {
            font-weight: 700;
            line-height: 51px;
        }

        >.cards {
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;

            #change {
                background: #02897A;
                color: #fff;
                >.price {
                    >.value {
                        color: #fff;
                    }

                    >.simbol {
                        >.dolar {
                            color: #fff;
                        }
                    }
                }

                >.item {
                    color: #fff;
                }

                button {
                    background: #fff;
                    color: #02897A;
                }
            }

            >.card {
                background: #fff;
                color: black;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                width: 28%;

                >.title {
                    font-weight: 700;
                    line-height: 40px;
                    font-size: 1rem;
                    padding-top: 1rem;
                }

                >.subtitle {
                    font-size: 0.8rem;
                    margin-bottom: 2rem;
                }

                >.price {
                    display: flex;
                    justify-content: center;
                    margin: 1rem;
                    padding-bottom: 2rem;

                    >.value {
                        padding: auto;
                        font-size: 4.5rem;
                        padding-top: 0.9rem;
                        color: #02897A;
                        font-weight: 700;
                    }

                    >.simbol {
                        text-align: left;
                        margin-left: 0.4rem;

                        .dolar {
                            font-size: 1.2rem;
                            color: #02897A;
                            font-weight: bold;
                        }

                        .frequency {
                            font-weight: 400;
                            line-height: 19px;
                            color: #AFAFAF;
                        }
                    }
                }

                >.item {
                    padding: 0.3rem 0;
                    font-weight: 800;
                    color: #22343D;
                }

                button {
                    @include button-green(0.75rem 2rem);
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    >.whats-client {
        text-align: center;

        >.title {
            padding-bottom: 1rem;
        }

        >.subtitle {
            text-align: center;
            font-weight: 500;
            padding: 0px 26%;
            padding-bottom: 1rem;
        }

        >.comments {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            >.card {
                background: #fff;
                border: 1px solid #DEDEDE;
                box-sizing: border-box;
                border-radius: 5px;
                width: 31%;
                padding: 1rem;

                >.starRating {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 160px;
                    flex-direction: row-reverse;
                    padding-bottom: 0.5rem;

                    input {
                        display: none;
                    }

                    input:checked ~ label:before {
                        content: '\2605';
                    }

                    > label {
                        width: 30px;
                        height: 30px;
                        font-size: 30px;
                        color: orange;
                        font-family: Verdana;

                        &::before {
                            content: '\2606';
                            position: relative;
                            top: 0px;
                            line-height: 26px;
                        }
                    }
                }

                >.comment {
                    padding-bottom: 0.5rem;

                    p {
                        color: #737373;
                    }
                }

                >.person {
                    display: flex;
                    justify-content: left;

                    img {
                        width: 20%;
                    }

                    >.information {
                        margin-left: 0.8rem;

                        >.name {
                            color: #02897A;
                            font-weight: 600;

                        }

                        >.job {
                            color: #252B42;
                        }
                    }
                }
            }
        }
    }

    >.get-this {
        display: flex;
        justify-content: space-between;
        background: #02897A;
        border-radius: 32px;
        padding: 0.5rem;

        >.content {
            width: 59%;
            padding: 2rem;

            >.title {
                font-size: 32px;
                line-height: 151.4%;
            }

            >.getThis {
                button {
                    @include button-green(0.75rem 2rem);
                    background: #fff;
                    color: #02897A;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 30px;
                    margin-top: 2.5rem;
                }
            }
        }

        >.image {
            width: 45%;
        }
    }
}

/* 
=====================
MEDIA QUERIES PRODUCT
=====================
*/

@media (max-width: 1200px) {
    .wrapper {
        padding-bottom: 4.5rem;
    }

    .container {
        >.welcome-text-image {
            display: flex;
            flex-direction: column-reverse;

            >.text {
                width: 100%;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                >.welcomeFooter {
                    justify-content: center;
                }
            }

            >.image {
                width: 100%;
            }
        }

        >.products-for-you {
            h1 {
                padding-bottom: 4.2rem;
            }
    
            >.content {
                display: inline;
                text-align: center;
    
                >.item {
                    img {
                        width: 51px;
                    }
    
                    h3 {
                        padding-bottom: 0.4rem;
                    }

                    p {
                        padding-bottom: 2rem;
                        margin: auto;
                        max-width: 70%;
                    }
                }
            }
    
            >.signUpNow {
                text-align: center;
    
                .buttonSignUpNow {
                    @include button-green(0.75rem 2rem);
                    margin-top: 3rem;
                }
            }
        }

        >.text-image {
            display: flex;
            flex-direction: column-reverse;

            >.text {
                width: 100%;
            }

            >.image {
                width: 100%;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }

        >.image-text {
            display: inline;

            >.image {
                width: 100%;
                margin-bottom: 3rem;
            }

            >.text {
                width: 100%;
            }
        }

        >.quick-process {
            >.subtitle {
                padding: 0px 1%;
            }
    
            >.content {
                display: inline;
                
                .reverse {
                    display: flex;
                    flex-direction: column-reverse;
                }

                img {
                    width: 25%;
                }
        
                p {
                    text-align: center;
                    color: black;
                    background-color: #fff;
                    border-radius: 15px;
                    padding: 0.2rem 1.3rem;
                    margin: 0.3rem;
                }
        
                >.item {
                    >.card {
                        display: flex;
                        padding: 1rem;
                        align-items: center;
                    }
                }
            }
        }

        >.contents-strategies {
            >.cards {
                display: inline;
                margin-top: 1.5rem;
    
                >.card {
                    width: 100%;
                    margin-top: 1rem;
    
                    >.content {
                        padding-top: 0.1rem;
                    }
                }
            }
    
            >.carosolt {
                display: none;
            }
        }

        >.price-table {
            margin-top: 3rem;

            >.cards {
                display: inline;
    
                >.card {
                    width: 100%;
                    margin: 1rem 0;
                }
            }
        }

        >.whats-client {
            >.subtitle {
                padding: 0;
                margin-bottom: 1rem;
            }

            >.comments {
                display: inline;

                >.card {
                    width: 100%;
                    margin-bottom: 1rem;
                    text-align: left;
                }
            }
        }

        >.get-this {
            display: inline-block;
            text-align: center;
            padding: 0;
            background: #02897A;
            border-radius: 15px;
        
            >.content {
                width: 100%;
                //background: #02897A;
            }
    
            >.image {
                width: 100%;
                //background: #02897A;
            }
        }
    }
}

/* 
====================
MEDIA QUERIES NAVBAR
====================
*/

@media (max-width: 1200px) {
    .wrapper {
        padding-bottom: 4.5rem;
    }

    .container {
        padding: 0 0;
        
        >.price-table {
            margin-top: 3rem;

            >.cards {
                display: inline;
    
                >.card {
                    width: 100%;
                    margin: 1rem 0;
                }
            }
        }

        >.enterprise-div {
            >.preTitle {
                margin-bottom: 1.5rem;
            }

            >.title {
                margin-bottom: 1.5rem;
            }
        }

        >.product-being {
            >.title {
                text-align: center;
            }
    
            >.content {
                margin-top: 3rem;
                display: inline-block;
                justify-content: space-between;
    
                img {
                    width: 100%;
                }

                >.image {
                    content: url('../../assets/product2-image.svg');
                }
    
                >.cards {
                    margin-top: 2rem;
                    width: 100%;
                    margin-left: 2rem;
    
                    >.card {
                        margin-bottom: 1.5rem;
    
                        >.imageTitle {
                            display: flex;
                            justify-content: left;
                            align-items: center;
    
                            img {
                                width: 10%;
                            }
    
                            >.title {
                                margin-left: 1rem;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 36px;
                            }
                        }
    
                        >.description {
                            margin-top: 1rem;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }

        >.get-this {
            display: inline-block;
            text-align: center;
            padding: 0;
            background: #02897A;
            border-radius: 15px;
            margin-bottom: 3rem;
        
            >.content {
                width: 100%;
            }
    
            >.image {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1020px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;

        li {
            &:hover {
                display: inline-block;
                background-color: #4c9e9e;
                transition: 0.3s ease;
            }
        }

        li + li {
            margin-top: 10px;
        }
    }

    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

/* 
===============
FOOTER SETTINGS
===============
*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em 10%;
    background-color: #1f2e35;
    color: #fff;
    
    .col1 {
        img {
            width: 50%;
        }

        .redondo {
            width: 10%;
        }
    }
    margin-top: 7%;
}
.col1 {
    margin-top: -5%;
    width: 25%;
    .redondo {
        margin: 5% 1.5%; 
        border-radius: 100%;
    }
    .insta-logo {
        margin-left: -1.5%;
    }
}
    
.col2e3 {
    display: flex;
    width: 25%;
    font-weight: 400;
    h3 {
        margin-bottom: .75em;
        margin-top: -2em;
    }
    li {
       margin-top: 0.5em;
    }
}

.col4 {
    width: 25%;
    justify-content: space-around;
    .text-col4 {
        width: 75%;
        justify-content: space-around;
        font-size: medium;
        font-weight: 500;
        size: 20em;
        line-height: 2em;
        margin-top: -1em;
    }
    .sboxf {
        height: 3em;
        width: 100%;
        border-radius: .25em;
        margin: 1.5em 0;
        margin-bottom: 0%;
        border: none;
    }
    .singupfb {
        border: none;
        text-decoration: none;
        border-radius: .25em;
        background-color: #02897A;
        color: white;
        height: 3em;
        width: 7.5em;
        margin: 1.5em 0;
    }
}

.lasttxt {
    text-align: center;
    background-color: #1f2e35;
    color: white;
    padding-bottom: 1%;
    font-weight: 400;
}

/* 
=============
FOOTER MEDIA QUERIES
=============
*/

@media (max-width: 1020px) {
    .footer {
        display: flex;
        position: relative;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 20%;
        flex-direction: column;
        justify-content: space-between;
    }

    .col1 {
        margin-top: 0%;
        margin-left: -2.5%;
        width: 100%;
        .redondo {
            margin-bottom: -1.5%;
            margin-top: 2%;
            margin-left: 1.5%;
        }
    }

    .col2e3 {
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        li {
            margin-top: 2%;
        }
    }

    .col4 {
        margin-top: 10%;
        width: 50%;
        align-items: center;
        .text-col4 {
            width: 90%;
            text-align: center;
            margin-left: 5%;
        }
    }

    .lasttxt {
        text-align: center;
        background-color: #1f2e35;
        color: white;
        padding-bottom: 10%;
        padding-top: -8%;
    }
}

/* 
=============
FIRST DIV
=============
*/

.cointainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 95%;
    max-width: 110em;
    margin: 7em auto;
    .cont-col1 {
        .st-title {
            color: white;
            font-weight: 600;
            font-size: 4.5em;
            line-height: 149%;
        }
        .st-subtitle {
            color: white;
            font-weight: 400;
            font-size: 2.25em;
            line-height: 160%;
            margin-top: 1.5em;
        }
        .box-mail1{
            margin-top: 2em;
            background-color: #1f2e35;
            border: solid .1em white;
            border-radius: 3em;
            width: 33.5em;
            height: 3.75em;
            .join-now-box {
                background-color: transparent;
                border: none;
                padding: 1.3em 1.3em;
                border-radius: 3em;
                font-weight: 400;
                font-size: 1.15em;
                letter-spacing: -0.03em;
                width: 22em;
                height: 3em;
            }
            .join-now-bt {
                background-color: #02897A;
                border-radius: 3em;
                color: white;
                padding: 1em 1.75em;
                text-align: center;
                text-decoration: none;
                border: none;
                margin-top: .27em;
                margin-right: .3em;
                float: right;
            }
        }
        .join-images {
            display: flex;
            align-items: center;
            margin-top: 1.5em;
        }
        .guy2 {
            transform: translateX(-50%);
        }
        .guy3 {
            transform: translateX(-90%);
        }
        .join-over {
            color: white;
            font-weight: 500;
            font-size: 1em;
            span {
                color: #02897A;
            }
        }    
    }
    .cont-col2 {
        display: flex;
        height: 35em;
        width: auto;
    }
}

/* 
==============================
FIRST DIV - MEDIA QUERIES
==============================
*/
@media (max-width: 1020px) {
    .cointainer1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        max-width: 20%;
        margin: 3em auto;
        .cont-col1 {
            .st-title {
                font-size: 3em;
            }
            .st-subtitle {
                font-size: 1.7em;
                margin-top: 1em;
            }
            .box-mail1 {
                width: 25em;
                height: 4em;
                .join-now-box {
                    padding: 1.7em 1em;
                }
                .join-now-bt {
                    margin-top: -3.8em;
                    padding: 1.15em 3em;
                    font-weight: 700;
                }
            }
            .join-over {
                margin-left: -2.7em;
            }
        }
    }
    .cont-col2 {
        margin-top: 5em;
        max-height: 21em;
    }
}

/* 
===============
SECOND SECTION
===============
*/

.bf-cards {
    color: white;
    justify-content: center;
    text-align: center;
    .second-title {
        font-weight: 700;
        font-size: 2.25em;
        line-height: 1.75em;
    }
    .second-subtitle {
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1.375em;
    }
}

/* 
=======================
SECOND SECTION - CARDS
=======================
*/

.cards {
    display: grid;
    grid-template-columns: repeat(3, 30em);
    grid-template-rows: repeat(3, em);
    width: 100%;
    justify-content: center;
    .card {
        width: 25em;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        background-color: white;
        flex-direction: column;
        border-radius: 2%;
        margin-top: 4em;
        .image-card {
            border-radius: 2%;
        }
        .info-card {
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1.9em;
            margin-top: 1.2em;
            margin-bottom: 1.2em;
            margin-left: 1.3em;
            .bold-name {
                font-weight: 700;
            }
        }
        .text-card {
            color: #22343D;
            font-weight: 700;
            font-size: 1.7em;
            line-height: 1.67em;
            margin-bottom: 1.25em;
            margin-left: 1.3em;
            margin-right: 1.5em;
        }    
    }
}

/* 
============================
SECOND SECTION - DOWN CARDS
============================
*/

.aft-cards {
    color: white;
    display: flex;
    justify-content: center;
    gap: .75em;
    margin-top: 3em;
    margin-bottom: 15em;
}

/* 
=======================================
SECOND SECTION - MEDIA QUERIES GENERAL
=======================================
*/
@media (max-width: 1020px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
    .bf-cards {
        margin-top: 5em;
        margin: auto 3em;
        .second-title {
            margin-bottom: .4em;
        }
    }
    .aft-cards {
        margin-bottom: 8em;
    }
}


/* 
============================
THRID SECTION - CONTACT US
============================
*/

.thrid-section-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .thrid-section-text-principal {
        font-weight: 700;
        font-size: 2.25em;
        line-height: 1.9em;
        letter-spacing: 0.03em;
        margin-bottom: .7em;
    }
    .thrid-section-text-secondary {
        font-weight: 500;
        font-size: 1.35em;
        line-height: 1.75em;
        letter-spacing: 0.03em;
    }
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 5em;
    .social-media-circle {
        border-radius: 100%;
    }
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    border: 0;
    border-radius: 48px;
    margin-bottom: 4em;
}

/* 
=======================================
THRID SECTION - MEDIA QUERIES GENERAL
=======================================
*/
@media (max-width: 1020px) {
    .social-media {
        margin-top: 2em;
    }
    .map {
        max-width: 90%;
        max-height: 3em;
        align-items: center;
        justify-content: center;
        margin-left: 1.5em;
        margin-top: 14em;
    }
}

/* 
==============
FORM SETTINGS
==============
*/

.form-bg {
    width: 100%;
    max-width: 63em;
    margin: 0 auto;
    border-radius: 2.5em;
    padding: 4em;
    background-color:#22343D;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.send-msg {
    color: white;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.55em;
    letter-spacing: 0.015em;
    margin-bottom: 1.5em;
}

.name-mail {
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 3em;
    padding: 2em 1.9em;
    width: 58em;
    height: 3.5em;
    margin-bottom: 3em;
}

.msg {
    width: 58em;
    height: 14.5em;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    background: #02897A;
    border-radius: 3em;
    align-items: center;
    padding: 1.2em 2.5em;
    margin: .8em auto;
}

/* 
==============================
FORM SECTION - MEDIA QUERIES
==============================
*/
@media (max-width: 1020px) {
    .form-bg {
        background-color: #1f2e35;
    }
    .send-msg {
        margin-top: 7em;
    }
    .name-mail {
        max-width: 25em;
    }
    .msg {
        width: 25em;
    }
    .button {
        width: 9.5em;
    }
}